/* Variables */
body {
  padding-bottom: 0;
  font-family: 'Open Sans', Arial, Tahoma;
  color: #363636;
  background: #ededed;
  font-size: 16px;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  font-size: 1.5em;
}

h2.intro_text {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  font-size: 1.5em;
  color: #008B8B;
  text-align: center;
}

.primary, strong, h2 {
  color: #3b5a76;
}

.container-main {
  background: #fff;
  margin-top: 80px;
  padding: 0 30px 30px 30px;
}

header {
  min-height: 100px;
  overflow: auto;
}

header h1 {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.4em;
}

.row {
  margin-bottom: 20px;
}

.profile-img {
  width: 160px;
  display: block;
  margin: auto;
  margin-top: -80px;
}

.line {
  max-width: 100%;
}

.contact-list {
  padding: 0;
  margin: 0;
}

.contact-list li {
  list-style: none;
  font-weight: bold;
  line-height: 3.2em;
}

.contact-list span {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0.1em;
  margin-left: 37px;
  font-size: 15px;
  color: #ccc;
}

.media {
  background: #ededed;
  padding: 10px;
}

.work-list li {
  list-style: none;
  float: left;
  padding: 0 10px 0 10px;
  margin-bottom: 30px;
}

footer {
  background: #3b5a76;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
